/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 32.2937%;
  overflow: hidden;
}


@media (max-width: 928.97376px) {
  .camera_container {
    padding-bottom: 300px; } }
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0; }

.camera_wrap img {
  max-width: none !important; }

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%; }

.camera_src {
  display: none; }

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1; }

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none; }

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0; }

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0; }

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2; }

.camera_loader {
  background: #fff;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3; }

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4; }

.camerarelative {
  overflow: hidden;
  position: relative; }

.imgFake {
  cursor: pointer; }

.camera_command_wrap .hideNav {
  display: none; }

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4; }

.showIt {
  display: none; }

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative; }

.camera_caption {
  display: none; }

.cameraContent .camera_caption {
  display: block; }

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 10% 5% 0;
  text-align: center;
  font-size: 44px;
  line-height: 63px;
  color: #fff;
  font-weight: 500; }
  @media (max-width: 1199px) and (min-width: 480px) {
    .camera_caption {
      font-size: 34px;
      line-height: 40px; } }
  @media (max-width: 479px) {
    .camera_caption {
      font-size: 30px;
      line-height: 36px; } }
  .camera_caption > div {
    height: 100%; }
  .camera_caption .btn {
    font-size: 16px;
    padding: 15px 40px;
    margin-top: 25px; }

.camera_pag_ul {
  text-align: center; }
  .camera_pag_ul li {
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 8px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #888;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
      background: #333; }
    .camera_pag_ul li + li {
      margin-left: 4px; }
    .camera_pag_ul li > span {
      display: none; }

.camera_next, .camera_prev {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 50%;
  color: #fff; }
  .camera_next:before, .camera_prev:before {
    font-family: 'FontAwesome';
    font-size: 55px; }
  .camera_next:hover, .camera_prev:hover {
    color: #39c360; }
  @media (max-width: 1280px) {
    .camera_next, .camera_prev {
      top: 70%; } }

.camera_next {
  right: 10%; }
  @media (max-width: 1280px) {
    .camera_next {
      right: 30px; } }
  .camera_next:before {
    content: '\f105'; }

.camera_prev {
  left: 10%; }
  @media (max-width: 1280px) {
    .camera_prev {
      left: 30px; } }
  .camera_prev:before {
    content: '\f104'; }
